header {

    background-color: $bg-color; 

    nav {
        padding: $relleno
        ;
            li {

                list-style-type: none;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    } 
    
